:root {
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.80);
}

* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    font-family: 'Roboto', sans-serif;
    position: relative;
  }

  /* layout */
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.flex-local {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* clock in center */
.center-time {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%); */
  font-size: 4rem;
  font-weight: 900;
  margin: 0 auto;
}

.small-date {
  text-align: center;
  font-size: 1.5rem;
}

/* image and text shadows */
p,
span,
.center-time  {
  text-shadow: var(--shadow);
}

img {
  filter: drop-shadow(var(--shadow));
}

/* crypto section styling */
.crypto-title {
  font-size: 2rem;
  font-weight: 900;
  margin-right: 10px;
  z-index: 10;
}

.crypto-icons {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 1.2rem;
}

/* weather section styling */
#weather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: -70px;
}

#weather .weather-location {
  width: 100%;
  text-align: end;
  font-size: 1.5rem;
  margin-top: -10px;
}

#weather .weather-temp {
  font-size: 3rem;
}

#weather img {
  width: 5rem;
}

/* crypto section and weather section were touching at very small screens so i've hidden some info from the crypto widget*/
@media (max-width: 450px) {
  #crypto small {
    display: none;
  }
}